<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %} Students {% endblock %} 
{% block content %}
<button><a href="{% url 'addstudent' %}">add student</a></button>
<br />
{% for student in data %} {{student}}
<button><a href="{% url 'editstudent' student.id %}">edit</a></button>
<button><a href="{% url 'deleteuser' student.user.id %}">delete</a></button>
<button><a href="{% url 'studentenrollments' student.id %}">view enrollments</a></button>
<br />
{% endfor %} 
{% endblock %}
