<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %} Courses {% endblock %} 
{% block content %}
<h1>{{course.name}}</h1>
{% if enrollments %}
<ul>
  {% for enrollment in enrollments %}
  <li>
    student: {{enrollment.student.user.username}} - status: {{enrollment.get_status_display}}
    <button><a href="{% url 'editenroll' enrollment.id %}">edit</a></button>
  <button><a href="{% url 'deleteenroll' enrollment.id %}">delete</a></button>  
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No enrollments</p>
{% endif %}
{% endblock %}
